<div *ngIf="showNavbar" class="navbar-wrapper">
  <div class="navbar-left">
    <span class="navbar-title">Productivity Tracker</span>
  </div>

  <div class="navbar-center">
    <a routerLink="/calendar" routerLinkActive="active-link">Calendar</a>
    <a routerLink="/dashboard" routerLinkActive="active-link">Dashboard</a>
    <a routerLink="/tasks" routerLinkActive="active-link">Tasks</a>
  </div>

  <div class="navbar-right">
    <button mat-button (click)="logout()">Logout</button>
  </div>
</div>

<router-outlet></router-outlet>
