<mat-toolbar color="primary">
    <span>Productivity Tracker</span>
  </mat-toolbar>
  
  <mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item href="#">Dashboard</a>
        <a mat-list-item href="#">Calendar</a>
        <a mat-list-item href="#">Settings</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content">
        <mat-card>
          <mat-card-title>Weekly Task Tracker</mat-card-title>
          <mat-card-content>
            <table mat-table [dataSource]="tasks" class="mat-elevation-z8">
              <ng-container matColumnDef="day">
                <th mat-header-cell *matHeaderCellDef> Day </th>
                <td mat-cell *matCellDef="let task"> {{task.day}} </td>
              </ng-container>
              
              <ng-container matColumnDef="task">
                <th mat-header-cell *matHeaderCellDef> Task </th>
                <td mat-cell *matCellDef="let task"> <input matInput [(ngModel)]="task.task"> </td>
              </ng-container>
              
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  